Django>=4.0.4,<5                # Django web framework
djangorestframework>=3.13.1,<4  # REST functionality for Django
celery>=5.2.7,<6                # Task queue
psycopg2>=2.9.3,<3              # postgres library
python-dateutil>=2.8.2,<3       # parse arbitrarily-formatted dates
elasticsearch>=7.5.1,<8         # client for elasticsearch server
numpy>=1.23.0,<2                # play with numbers
pandas>=1.4.3,<2                # play with datasets
pandas-datareader>=0.10.0,<0.11 # digest data from various sources

black>=22.6.0,<23       # Code formatting
pip-check-updates       # library for comparing installed versions to those in
                        # pypi
